@model PagedList.IPagedList<Web.Models.Track>
@using PagedList.Mvc;

<br/>
<div class="row">
    <h4>Suggested Tracks</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Artist
                </th>
                <th>
                    Track
                </th>
                <th>
                    Votes
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Votes)
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ViewTrackSuggestions", new { page }))