<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sam and Grace: The WedSite</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    @Styles.Render("~/Content/css-bundle")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
</head>
    <body>
        <a id="top" />
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Sam and Grace", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Accomodation", "Accomodation", "Home")</li>
                        <li>@Html.ActionLink("Taxi Companies", "Taxis", "Home")</li>
                        <li>@Html.ActionLink("RSVP", "Create", "Rsvp")</li>
                        <li>@Html.ActionLink("Music Suggestions", "SuggestMusic", "MusicSuggestions")</li>
                        <li>@Html.ActionLink("Gift List", "GiftList", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <div class="navbar-fixed-bottom">
                <footer>
                    <p>&copy; @DateTime.Now.Year - Sam and Grace: The WedSite</p>
                </footer>
            </div>
        </div>

        @Styles.Render("~/Content/css/bootstrap-typeahead.css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/typeahead")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/echonest.functions.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
