@using Web.Models
@{
    ViewBag.Title = "Nearby Accomodation";
}
<h2>@ViewBag.Title</h2>

<h3>Hotels</h3>
<table class="table table-striped table-hover">
    <tr>
        <td>Name</td>
        <td>Location</td>
        <td>Distance</td>
        <td>Stars</td>
        <td>Number Of Rooms</td>
        <td>Web</td>
        <td>Phone Number</td>
    </tr>
    @foreach (Hotel hotel in ViewBag.Hotels)
    {
        <tr>
            <td>@hotel.Name</td>
            <td>@hotel.Location</td>
            <td>@hotel.DriveDistanceMinutes minutes' drive</td>
            <td>
                @if (hotel.StarRating == null)
                {
                    @:&nbsp;
            }
                else
                {
                    <span class="badge">
                        @for (int i = 0; i < hotel.StarRating; i++)
                        {
                            @:*
                    }
                    </span>
                }
            </td>
            <td>@hotel.NumberOfRooms</td>
            <td><a class="alert-link" href="@hotel.Url.Value" target="_blank">@hotel.Url.Value</a></td>
            <td>@hotel.PhoneNumber</td>
        </tr>
    }
</table>

<h3>Bed and Breakfasts</h3>
<table class="table table-striped table-hover">
    <tr>
        <td>Name</td>
        <td>Location</td>
        <td>Distance</td>
        <td>Stars</td>
        <td>Web</td>
        <td>Phone Number</td>
    </tr>
    @foreach (BAndB bAndB in ViewBag.BAndBs)
    {
        <tr>
            <td>@bAndB.Name</td>
            <td>@bAndB.Location</td>
            <td>@bAndB.DriveDistanceMinutes minutes' drive</td>
            <td>
            @if (bAndB.StarRating == null)
            {
                @:&nbsp;
            }
            else
            {
                <span class="badge">
                    @for (int i = 0; i < bAndB.StarRating; i++)
                    {
                        @:*
                    }
                </span>
            }
            </td>
            <td><a class="alert-link" href="@bAndB.Url.Value" target="_blank">@bAndB.Url.Value</a></td>
            <td>@bAndB.PhoneNumber</td>
        </tr>
    }
</table>
