@using Web.Models
@{
    ViewBag.Title = "Local Taxi Companies";
    ViewBag.Cross = Html.Raw("&#x2717;");
    ViewBag.Tick = Html.Raw("&#x2713;");
}
<h2>@ViewBag.Title</h2>


<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Has Minibuses/People Carriers?</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Taxi taxi in ViewBag.TaxiFirms)
            {
                <tr>
                    <td>@taxi.Name</td>
                    <td>@taxi.Location</td>
                    <td>
                        <span class="badge">
                            @(taxi.HasPeopleCarriers ? ViewBag.Tick : ViewBag.Cross)
                        </span>
                    </td>
                    <td>@taxi.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>
