@model Web.Models.Rsvp

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="row">
    <div>
        <h4>Rsvp</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Attending)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Attending)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RequiresTransport)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequiresTransport)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DietryRequirements)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DietryRequirements)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>